$primaray-col: #ff625f;
$bg: black;
$color: #fff;
$mobile: 800px;

$font-size: (
  "regular": 20px,
  "large": 25px,
  "larger": 30px,
);

$ft-weight: (
  "regular": 300,
  "medium": 500,
  "bold": 700,
);
